@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
Body {
    background-color: #26242D;
}

.Head{
    display: flex;
}
.Head button{
    margin-left: 6rem;
    background-color: #A5B9FF;
    height: 1.5rem;

}
.Head button img{
    height: 0.8rem;
}
.Title {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 5%;
    font-family: "Lobster", cursive;
    font-weight: 300;
    font-size: 2rem;
}
.Title .TimerIcon{
    width: 1.3rem;
}

.Card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #A5B9FF;
    border-radius: 8px;
}

.Timer {
    /* margin-top: 1rem; */
    margin-right: auto;
    margin-left: auto;
    font-size: 3em;
}

.TimerBtns {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    /* background-color: black; */
    height: 3rem
}

.Btn {
    cursor: pointer;
    background-color: #A5B9FF;
    /* background-color: #000000; */
    border: 0px;
    /* height: 1.5rem; */
    width: 2rem;
    /* padding: 0.5rem; */
    border-radius: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.Btn img {
    height: 1.5rem;
    background-color: #A5B9FF;
}

.Btn .Pause {
    height: 1.2rem;
}

.Btn .Play {
    height: 1.8rem;
}