@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
Body {
    background-color: #26242D;
}

.Head {
    display: flex;
}

.Head button {
    margin-left: 5.7rem;
    margin-top: 0.6rem;
    background-color: #7d96f3;
    height: 1.5rem;
    border: 0px;
    cursor: pointer;
    border-radius: 8px;
}

.Head button img {
    height: 1.2rem;
}

.Title {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 5%;
    font-family: "Lobster", cursive;
    font-weight: 300;
    font-size: 2rem;
}

.Title .TimerIcon {
    width: 1.3rem;
}

.Card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #7d96f3;
    border-radius: 8px;
}

.TimerBox {
    margin-right: auto;
    margin-left: auto;
    font-size: 3em;
    border-radius: 6px;
    font-family: "Orbitron";
}

.TimerBox p {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}

.TimerBtns {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    height: 3rem
}

.Btn {
    cursor: pointer;
    background-color: #7d96f3;
    border: 0px;
    width: 2rem;
    border-radius: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.Btn img {
    height: 1.5rem;
    background-color: #7d96f3;
}

.Btn .Pause {
    height: 1.2rem;
}

.Btn .Play {
    height: 1.8rem;
}